<h1>Grid#attendance</h1>
<p>Find me in app/views/grid/attendance.html.erb</p>

<div>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Attendance</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FirstNameLastName</td>
        <td>AttendanceInHours</td>
        <td>Date</td>
      </tr>
    </tbody>
  </table>
</div>